<!DOCTYPE html>
<html>
  <head>
    <title>SomethingSpecial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

    <script type="text/javascript">
      window.emptyCartURL = "<%= image_url('empty-cart.svg') %>"
      window.backgroundImgURL = "<%= image_url('background.jpg') %>"
      window.giftBannerURL = "<%= image_url('banners/gifts_banner.jpg') %>"
      window.funBannerURL = "<%= image_url('banners/fun_banner.jpg') %>"
      window.homeBannerURL = "<%= image_url('banners/home_banner.jpg') %>"
      window.kitchenBannerURL = "<%= image_url('banners/kitchen_banner.jpg') %>"
      window.artBannerURL = "<%= image_url('banners/art_banner.jpg') %>"
      window.jewelryBannerURL = "<%= image_url('banners/jewelry_banner.jpg') %>"
      window.womenBannerURL = "<%= image_url('banners/women_banner.jpg') %>"
      window.menBannerURL = "<%= image_url('banners/men_banner.jpg') %>"
      window.kidsBannerURL = "<%= image_url('banners/kids_banner.jpg') %>"
    </script>
    
    <%= yield %>
  </body>
</html>
