<!DOCTYPE html>
<html>
  <head>
    <title>SomethingSpecial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

    <script type="text/javascript">
      window.emptyCartURL = "<%= image_url('empty-cart.svg') %>"
      window.backgroundImgURL = "<%= image_url('background.jpg') %>"
    </script>
    
    <%= yield %>
  </body>
</html>
